go 1.20

use (
	.
	./01hello
	./02variables
	./Anonymous
	./Array
	./Calculator
	./Constants
	./Conversions
	./CreateFile
	./DataTypes
	./Defer
	./Defer1
	./Family
	./ForLoop
	./FtoCtoF
	./IfElse
	./Interfaces
	./LargestNo
	./Map
	./MultipleReturn
	./NilValues
	./Palindrome
	./Panic
	./Pointer
	./Pointer1
	./Range
	./Recover
	./SliceAppend
	./SliceLen
	./SliceMake
	./Struct
	./Struct2
	./Switch
	./TypeAssertion
	./UpperCaseLetter
	./variables1
	./variables2
)
